@font-face {
  font-family: "lobster";
  src: url(../Fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: "love";
  src: url(../Fonts/love/BamsHand.ttf);
}

@font-face {
  font-family: "pinky";
  src: url(../Fonts/pinky_cupid/Pinky\ Cupid.otf);
}

@font-face {
  font-family: "har";
  src: url(../Fonts/HARLOWSI.TTF);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
}

.bg {
  height: 26vw;
  background-color: rgb(15, 15, 15);
  margin-top: 0;

  padding-left: 2vw;
  padding-top: 1vw;
  
}

.box{
  position: relative;
  text-align: center;
	display: inline-block;
  margin-left: 10%;
  margin-right: auto;

	width: 350px;
	
	font-family: Arial;
}
.image{
	display: block;
	width: 100%;
}


.logo {
  position: absolute;

  height: 20vw;
  width: 25vw;
  margin-left: 7vw;
  margin-top: 2vw;
}

.desc {
   position: absolute;

   right: 13vw;
   font-size: 4vw;
   font-family: "har";
   color: rgb(180, 180, 180);
   top: 8vw;
}



.desc2 {
  
  padding-left: 15vw;
}

.log {
  position: fixed;
  right: 0;
 
  bottom: 0px;
}

.logo1{

  width: 5vw;
  height: 3vw;
  
}

.op:hover {
  opacity: 0.5;
}